@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Images are Creative Commons sourced from Flickr and <a href="http://animalphotos.info">animalphotos.info</a></p>
<ul>
    <li><a href="https://www.flickr.com/photos/beckendorf/2496607551/sizes/m/">beckendorf</a>
    <li><a href="https://www.flickr.com/photos/dblfineart/8316114166/sizes/m/">dblfineart</a>
    <li><a href="https://www.flickr.com/photos/jacksnell707/8047765020/sizes/m/">jacksnell707</a>
    <li><a href="https://www.flickr.com/photos/rjshade/15468783028/sizes/m/">rjshade</a>
    <li><a href="https://www.flickr.com/photos/andymangold/3380666599/sizes/m/">andymangold</a>
    <li><a href="https://www.flickr.com/photos/briangratwicke/4892304294/sizes/m/">briangratwicke</a>
    <li><a href="https://www.flickr.com/photos/rodeime/8010538179/sizes/m/">rodeime</a>
    <li><a href="https://www.flickr.com/photos/dinesarasota/4052175527/sizes/m/">dinesarasota</a>
    <li><a href="https://www.flickr.com/photos/51653562@N00/6115020618/sizes/m/">51653562@N00</a>
    <li><a href="https://www.flickr.com/photos/53255320@N07/6805917663/sizes/m/">53255320@N07</a>
    <li><a href="https://www.flickr.com/photos/ftomiz/6930126584/sizes/m/">ftomiz</a>
    <li><a href="https://www.flickr.com/photos/rka/4287360/sizes/m/">rka</a>
    <li><a href="https://www.flickr.com/photos/thedailyenglishshow/16376380300/sizes/m/">thedailyenglishshow</a>
    <li><a href="https://www.flickr.com/photos/naparazzi/5888586849/sizes/m/">naparazzi</a>
    <li><a href="https://www.flickr.com/photos/10233916@N03/3725959269/sizes/m/">10233916@N03</a>
    <li><a href="https://www.flickr.com/photos/8272102@N04/496387464/sizes/m/">8272102@N04</a>
    <li><a href="https://www.flickr.com/photos/usfwsmtnprairie/20505261951/sizes/m/">usfwsmtnprairie</a>
    <li><a href="https://www.flickr.com/photos/peasap/2433990128/sizes/m/">peasap</a>
    <li><a href="https://www.flickr.com/photos/acrylicartist/8197696184/sizes/m/">acrylicartist</a>
    <li><a href="https://www.flickr.com/photos/usfwspacific/5882652438/sizes/m/">usfwspacific</a>
    <li><a href="https://www.flickr.com/photos/outcast104/2012428012/sizes/m/">outcast104</a>
</ul>